/*
  Edit this CSS file to change styles of the presentation.
  If you need to revert it back, use the "Reset" button.
*/

/**
* Text Cell
*/

.text-cell {
  font-size: 22px;
}

/**
* Code Cell
*/

.code-cell {
  font-size: 17px;
  font-family: Fira Code, Hack, Menlo, Monaco, 'Courier New', monospace;
}

/**
* Markdown Cell
*/

.markdown-cell {
  font-size: 22px;
}

/**
* LaTeX Cell
*/

.latex-cell {
  font-size: 22px;
}

